<table class="table">
  <thead>
    <th>#</th>
    <th><%= t "skill.name" %></th>
    <th><%= t "skill.created_at" %></th>
    <th><%= t "skill.update_at" %></th>
    <th class="action"><%= t :action %></th>
  </thead>
  <tbody>
    <% @skills.each_with_index do |skill, index| %>
      <tr>
        <td><%= index + 1 + 
          (params[:page].nil? ? 0 : (params[:page].to_i - 1)*Settings.page_size) %>
        </td>
        <td id="name-field-<%= skill.id %>">
          <%= render "skill_edit_form", skill: skill %>
        </td>
        <td><%= I18n.l skill.created_at, format: :long %></td>
        <td><%= I18n.l skill.updated_at, format: :long  %></td>
        <td class="dn-action-padding" data-id="<%= skill.id %>">
          <%= link_to t(:edit), edit_admin_skill_path(skill),
            remote: true, class: "btn btn-primary" %>
          <%= link_to t(:delete), [:admin, skill], method: :delete,
            data: {confirm: t(:sure)}, remote: true, class: "btn btn-danger" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
