<span id="position-name-<%= "#{position.id}" %>"><%= link_to position.name, [:admin, position] %></span>
<%= form_for [:admin, position], html: {class: "edit-position hidden", id: "position-form-#{position.id}"},
  remote: true do |f| %>
  <%= f.text_field :name, class: "form-control" %>
  <%= f.submit t(:update), class: "btn btn-success" %>
<% end %>
