<% provide :title, t("position.position") %>
<h1><%= @position.name %></h1>
<div class="panel-body">
  <table class="table">
    <thead>
      <th><%= t "user.avatar" %></th>
      <th><%= t "user.name" %></th>
      <th><%= t "user.position" %></th>
      <th><%= t "user.division" %></th>
      <th><%= t "user.update_at" %></th>
      <th class="action"><%= t :action %></th>
    </thead>
    <tbody>
      <%= render @profiles %>
    </tbody>
  </table>
</div>
<%= paginate @profiles %>
