<% provide :title, @title %>
<div class="dn-font-group">
  <div class="row">
    <aside class="col-md-4">
      <section class="user_info">
        <%= image_tag @user.profile.avatar.url :medium %>
        <span><%= @user.profile.name %></span>
        <p><%= link_to t(:view_my_profile), @user %></p>
      </section>
      <section class="stats">
        <%= render "shared/stats" %>
        <% if @users.any? %>
          <div class="user_avatars">
            <% @users.each do |user| %>
              <%= image_tag @user.profile.avatar.url, size: Settings.size %>
            <% end %>
          </div>
        <% end %>
      </section>
    </aside>
    <div class="col-md-8">
      <h3><%= @title %></h3>
      <% if @users.any? %>
        <ul class="users follow">
          <%= render @users %>
        </ul>
        <%= paginate @users %>
      <% end %>
    </div>
  </div>
</div>
