<% @profiles.each_with_index do |profile, index| %>
  <tr>
    <td><%= image_tag profile.avatar.url, class: "dn-admin-user-image",
      size: Settings.size %></td>
    <td><%= link_to profile.name, profile.user %></td>
    <td><%= profile.position.name if profile.position %></td>
    <td><%= profile.skill %></td>
    <td><%= profile.uid %></td>
    <td><%= profile.division.name if profile.division %></td>
  </tr>
<% end %>
