<% provide :title, @division.name %>
<h1 class="text-center"><%= @division.name %></h1>
<div class="row">
  <%= button_tag t(:add_member), class: "btn btn-primary", id: "add-member" %>
  <div id="members">
    <h3><%= t :members %></h3>
    <table class="table">
      <thead>
        <th><%= t "user.avatar" %></th>
        <th><%= t "user.name" %></th>
        <th><%= t "user.position" %></th>
        <th><%= t "user.division" %></th>
      </thead>
      <tbody>
        <%= render @profiles %>
      </tbody>
    </table>
  </div>

  <div id= "other_members" class="hidden">
    <h3><%= t :other_members %></h3>
    <%= render "add_member_form" %>
  </div>
</div>
