<% provide :title, @division.name %>
<div class="dn-font-group">
  <h1 class="text-center"><%= @division.name %></h1>
  <%= button_tag t(:add_member), class: "btn btn-info dn-btn-add-member", id: "add-member" %>
  <div id="members">
    <h3 class="text-center"><%= t :members %></h3>
    <table class="table">
      <thead>
        <th class="dn-tab-avatar"><%= t "user.avatar" %></th>
        <th><%= t "user.name" %></th>
        <th><%= t "user.position" %></th>
        <th><%= t "user.skill" %></th>
        <th><%= t "user.uid" %></th>
        <th><%= t "user.division" %></th>
      </thead>
      <tbody>
        <%= render "profile_info" %>
      </tbody>
    </table>
  </div>

  <div id= "other_members" class="hidden">
    <h3 class="text-center"><%= t :other_members %></h3>
    <%= render "add_member_form" %>
  </div>
</div>
