<table class="table">
  <thead>
    <th>#</th>
    <th><%= t "request.user" if current_user.profile.manager? %></th>
    <th><%= t "request.type" %></th>
    <th><%= t "request.leave_from" %></th>
    <th><%= t "request.leave_to" %></th>
    <th><%= t "request.reason" %></th>
    <th><%= t "request.compensation_time_from" %></th>
    <th><%= t "request.compensation_time_to" %></th>
    <th><%= t "request.status" %></th>
    <% unless current_user.profile.manager? %>
      <th class="action"><%= t :action %></th>
    <% end %>
  </thead>
  <tbody>
    <% @requests.each_with_index do |request, index| %>
      <tr>
        <td><%= index + 1 +
          (params[:page].nil? ? 0 : (params[:page].to_i - 1)*Settings.page_size) %>
        </td>
        <td>
          <div class="dn-text-wrap dn-text-email">
            <%= request.user.email if current_user.profile.manager? %>
          </div>
        </td>
        <td><%= request.request_type %></td>
        <td><%= request.leave_from.strftime t(:time_type_2) %></td>
        <td><%= request.leave_to.strftime t(:time_type_2) %></td>
        <td>
          <div class="dn-text-wrap dn-text-reason"><%= request.reason %></div>
        </td>
        <td>
          <%= request.compensation_time_from.strftime t(:time_type_2) unless
            request.compensation_time_from.nil? %>
        </td>
        <td>
          <%= request.compensation_time_to.strftime t(:time_type_2) unless
            request.compensation_time_to.nil? %>
        </td>
        <td id="approved-<%= request.id %>">
          <%= request.not_approve? ? t(:not_approve) :
            render("form_approved", request: request) %>
        </td>
        <% if can? :destroy, request %>
          <td>
            <%= link_to t(:edit), edit_request_path(request), class: "btn btn-primary" %>
            <%= link_to t(:delete), request, method: :delete,
              data: {confirm: t(:sure)}, class: "btn btn-danger" %>
          </td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
