<% provide :title, t(:all_request) %>
<div class="dn-font-group">
  <h1 class="text-center"><%= t :all_request %></h1>
  <div class="panel-body">
    <% if current_user.manager? %>
      <div>
        <button class="btn btn-primary" id ="dn-request-filter">
          <%= t :filter %>
        </button>
        <div class="row dn-request-filter dn-none">
          <%= render "search_form" %>
        </div>
      </div>
    <% else %>
      <%= link_to t(:new_request), new_request_path, class: "btn btn-primary" %>
    <% end %>
    <div>
      <%= render "all_requests" %>
    </div>
    <%= paginate @requests %>
  </div>
</div>
