<table class="table">
  <thead>
    <th>#</th>
    <th><%= t "report.progess" %></th>
    <th><%= t "report.duration" %></th>
    <th><%= t "request.date" %></th>
    <th><%= t "request.achievement" %></th>
    <th class="action"><%= t :action %></th>
  </thead>
  <tbody>
    <% @reports.each_with_index do |report, index| %>
      <tr>
        <td><%= index + 1 +
          (params[:page] ? (params[:page].to_i - 1) * Settings.page_size : 0) %>
        </td>
        <td><%= report.progess.name %></td>
        <td><%= t "reports.duration.#{report.duration}" %></td>
        <td><%= report.report_date.strftime t(:time_type) %></td>
        <td><%= report.achievement %></td>
        <td>
          <%= link_to t(:edit), edit_report_path(report), class: "btn btn-primary" %>
          <%= link_to t(:delete), report, method: :delete,
            data: {confirm: t(:sure)}, class: "btn btn-danger" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
